@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100vh;
  background-color: hsl(226, 43%, 10%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .boxes {
  display: flex;
  margin: 50px;
}
.container .boxes .profile {
  margin: 10px;
  width: 200px;
  height: 455px;
  border-radius: 15px;
  background-color: hsl(235, 46%, 20%);
  font-family: "Rubik", sans-serif;
  color: white;
}
.container .boxes .profile .name {
  padding: 20px;
  height: 300px;
  background-color: hsl(246, 80%, 60%);
  border-radius: 15px;
}
.container .boxes .profile img {
  width: 80px;
  border: 3px solid white;
  border-radius: 360px;
  margin-bottom: 20px;
}
.container .boxes .profile h1 {
  font-weight: 300;
}
.container .boxes .profile span {
  font-size: small;
  font-weight: 300;
  color: hsl(236, 100%, 87%);
}
.container .boxes .profile p {
  padding: 22px 0px 0px 20px;
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  color: hsl(236, 100%, 87%);
  cursor: pointer;
}
.container .boxes .profile p:hover {
  color: white;
  font-weight: 400;
}
.container .boxes .titles {
  display: flex;
  flex-direction: column;
}
.container .boxes .titles .up {
  display: flex;
}
.container .boxes .titles .down {
  display: flex;
}
.container .boxes .titles .title {
  width: 200px;
  height: 210px;
  background-color: red;
  border-radius: 15px;
  margin: 10px 10px 20px 10px;
}
.container .boxes .titles .title .icon {
  margin-left: 150px;
  width: 40px;
  height: 40px;
}
.container .boxes .titles .title .card {
  display: flex;
  flex-direction: column;
  height: 170px;
  background-color: hsl(235, 46%, 20%);
  border-radius: 15px;
  font-family: "Rubik", sans-serif;
  color: white;
  padding: 20px;
  cursor: pointer;
}
.container .boxes .titles .title .card .name {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container .boxes .titles .title .card img {
  width: 15px;
  height: 4px;
  cursor: pointer;
}
.container .boxes .titles .title .card .hours {
  font-weight: 300 !important;
  font-size: 2.5rem;
  padding: 15px 0px 10px 0px;
}
.container .boxes .titles .title .card .lastweek {
  font-size: 0.8rem;
  color: hsl(236, 100%, 87%);
}
.container .boxes .titles .title .card:hover {
  background-color: hsl(236, 44%, 26%);
}
.container .boxes .titles .work {
  background-color: hsl(15, 100%, 70%);
}
.container .boxes .titles .play {
  background-color: hsl(195, 74%, 62%);
}
.container .boxes .titles .study {
  background-color: hsl(348, 100%, 68%);
}
.container .boxes .titles .exercise {
  background-color: hsl(145, 58%, 55%);
}
.container .boxes .titles .social {
  background-color: hsl(264, 64%, 52%);
}
.container .boxes .titles .selfcare {
  background-color: hsl(43, 84%, 65%);
}
.container .active {
  font-weight: 500 !important;
  color: white !important;
}

@media screen and (max-width: 890px) {
  .container {
    height: 100% !important;
  }
  .container .boxes {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .container .boxes .profile {
    width: 320px !important;
    height: 200px !important;
  }
  .container .boxes .profile .name {
    height: 130px !important;
    display: flex;
    justify-content: center;
  }
  .container .boxes .profile .name .img {
    padding: 10px;
  }
  .container .boxes .profile .name .img img {
    width: 70px !important;
  }
  .container .boxes .profile .name .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .container .boxes .profile .name .text span {
    padding: 0px;
  }
  .container .boxes .profile .name .text h1 {
    font-size: 1.5rem;
  }
  .container .boxes .profile .time {
    display: flex;
    justify-content: space-around;
  }
  .container .boxes .titles .title {
    width: 320px;
    height: 150px !important;
    margin-bottom: 40px;
  }
  .container .boxes .titles .title .icon {
    margin-left: 270px !important;
  }
  .container .boxes .titles .title .card {
    height: 130px !important;
  }
  .container .boxes .titles .title .card .bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .container .boxes .titles .up {
    flex-direction: column;
  }
  .container .boxes .titles .down {
    flex-direction: column;
  }
}/*# sourceMappingURL=App.css.map */