@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');
$font: 'Rubik', sans-serif;
$paleblue: hsl(236, 100%, 87%);
$desaturatedblue: hsl(235, 45%, 61%);
$blue: hsl(246, 80%, 60%);
$darkblue: hsl(235, 46%, 20%);
$verydarkblue: hsl(226, 43%, 10%);
$work: hsl(15, 100%, 70%);
$play: hsl(195, 74%, 62%);
$study: hsl(348, 100%, 68%);
$exercise: hsl(145, 58%, 55%);
$social: hsl(264, 64%, 52%);
$selfcare: hsl(43, 84%, 65%);

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vh;
    background-color: $verydarkblue;
    display: flex;
    justify-content: center;
    align-items: center;
    .boxes{
        display: flex;
        margin: 50px;
        .profile{
            margin: 10px;
            width: 200px;
            height: 455px;
            border-radius: 15px;
            background-color: $darkblue;
            font-family: $font;
            color: white;
            .name{
                padding: 20px;
                height: 300px;
                background-color: $blue;
                border-radius: 15px;
            }
            img{
                width: 80px;
                border: 3px solid white;
                border-radius: 360px;
                margin-bottom: 20px;
            }
            h1{
                font-weight: 300;
            }
            span{
                font-size: small;
                font-weight: 300;
                color: $paleblue;
            }
            p{
                padding: 22px 0px 0px 20px;
                font-family: $font;
                font-weight: 300;
                color: $paleblue;
                cursor: pointer;
            }
            p:hover{
                color: white;
                font-weight: 400;
            }
        }
        .titles{
            display: flex;
            flex-direction: column;
           
            .up{
                display: flex;
            }
            .down{
                display: flex;
            }
            .title{
                width: 200px;
                height: 210px;
                background-color: red;
                border-radius: 15px;
                margin: 10px 10px 20px 10px;  
                .icon{
                    margin-left: 150px;
                    width: 40px;
                    height: 40px;
                }
                    .card{
                    display: flex;
                    flex-direction: column;
                    height: 170px;
                    background-color: $darkblue;
                    border-radius: 15px;
                    font-family: $font;
                    color: white;
                    padding: 20px;
                    cursor: pointer;
                    .name{
                       display: flex;
                       justify-content: space-between;
                       align-items: center;
                    }
                 
                    img{
                        width: 15px;
                        height: 4px;
                        cursor: pointer;
                    }
                    .hours{
                        
                       font-weight: 300 !important;
                       font-size: 2.5rem;
                       padding: 15px 0px 10px 0px;
                    }
                    .lastweek{
                        font-size: 0.8rem;
                        color: $paleblue;
                    }
                }
                .card:hover{
                    background-color: hsl(236, 44%, 26%);
                }
            }
            .work{
                background-color: $work;
            }  
            .play{
                background-color: $play;
            }  
            .study{
                background-color: $study;
            }  
            .exercise{
                background-color: $exercise;
            }  
            .social{
                background-color: $social;
            }  
            .selfcare{
                background-color: $selfcare;
            }  
        }
    }
    .active{
        font-weight: 500 !important;
        color: white !important;
    }
}
@media screen and (max-width: 890px) {
    .container{
        height: 100% !important;
        .boxes {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .profile{
                width: 320px !important;
                height: 200px !important;
                   .name {
                    height: 130px !important;
                    display: flex;
                    justify-content: center;
                    .img{
                        padding: 10px;
                        img{
                            width: 70px !important;
                        } 
                    }
                    .text{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        span{
                            padding: 0px;
                          }
                          h1{
                            font-size: 1.5rem;
                          }
                    }
                   }
                   .time{
                    display: flex;
                    justify-content: space-around;
                   }
            }
            .titles{
                .title{
                    width: 320px;
                    height: 150px !important;
                    margin-bottom: 40px;
                    .icon{
                        margin-left: 270px !important;
                    }
                    .card{
                        height: 130px !important;
                        .bottom{
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                        }
                    } 
                }
             .up{
                flex-direction: column;
             }
             .down{
               flex-direction: column;
             }
            }
        }
    }
    }
   